  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* 设置背景颜色 */
    margin: 0;
    padding: 0; 
  }

  
  h1, h2 {
    text-align: center;
  }
  
  form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* 确保表单背景颜色 */
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  table {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  